Repository RafaelOrti/js_node_factory_pattern_template, changes with the owners that CODEOWNERS names for each.
All owners: @organization/team1, @organization/team2, @organization/docs-team, @organization/frontend-team, @organization/backend-team, @organization/devops-team, @organization/testing-team

Add tests
  test/integration/anotherRoutes.test.ts
  test/integration/productRoutes.test.ts
  test/setup.ts
  test/unit/anotherFactory.test.ts
  test/unit/anotherService.test.ts
  test/unit/productFactory.test.ts
  test/unit/productService.test.ts
Owners: @organization/team1, @organization/team2

Add services
  src/services/anotherService.ts
  src/services/productServie.ts
Owners: @organization/team1, @organization/team2

Add routes
  src/routes/anotherRoutes.ts
  src/routes/index.ts
  src/routes/productRoutes.ts
Owners: @organization/team1, @organization/team2

Add models
  src/models/anotherModel.ts
  src/models/product.ts
Owners: @organization/team1, @organization/team2

Add factories
  src/factories/anotherFactory.ts
  src/factories/index.ts
  src/factories/productFactory.ts
Owners: @organization/team1, @organization/team2

Add controllers
  src/controllers/anotherController.ts
  src/controllers/productController.ts
Owners: @organization/team1, @organization/team2

Add app.ts
  src/app.ts
Owners: @organization/frontend-team

Add scripts
  scripts/anotherService.ta
  scripts/app.ts
  scripts/index.ts
  scripts/productRoutes.ts
  scripts/productService.ts
Owners: @organization/team1, @organization/team2

Add config
  config/database.ts
  config/index.ts
  config/logger.ts
Owners: @organization/team1, @organization/team2

Change position documentation
  docs/documentation.txt
Owners: @organization/docs-team

Update README.md
  README.md
Owners: @organization/team1, @organization/team2

Update README.md
  README.md
Owners: @organization/team1, @organization/team2

Update README.md
  README.md
Owners: @organization/team1, @organization/team2

Update README.md
  README.md
Owners: @organization/team1, @organization/team2

CODEOWNERS:

# CODEOWNERS

# Definir los propietarios de código para los siguientes directorios y archivos
# Revisa la documentación de CODEOWNERS para obtener más detalles: https://docs.github.com/en/repositories/creating-and-managing-repositories/about-code-owners

# Propietarios generales del repositorio
*       @organization/team1 @organization/team2

# Propietarios para los archivos de documentación
/docs/* @organization/docs-team

# Propietarios para el código fuente en TypeScript
/src/*.ts @organization/frontend-team

# Propietarios para el código fuente en JavaScript
/src/*.js @organization/backend-team

# Propietarios para los archivos de configuración
/.babelrc @organization/devops-team
/.eslintrc.js @organization/devops-team
/tsconfig.json @organization/devops-team
/webpack.config.js @organization/devops-team

# Propietarios para los archivos de pruebas
/tests/* @organization/testing-team
